body {
    color: white;
    background-color: black;
    font-family: "Eurostile Bold", "Eurostile", Sans-serif;
}

.circle {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

.arrow {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin: 0.5em;
    margin-right: auto;
    margin-left: auto;
    width: 15em;
    text-align: center;
}

p {
    margin: 1.8em;
    margin-right: auto;
    margin-left: auto;
    width: 30em;
    text-align: center;
    line-height: 140%;
}
